.profile-container {
    background-color: white;
    border-left: 1px solid var(--mid-grey);
    height: 100vh;
    margin-right: auto;
    overflow-y: auto;
    width: 459.3px;
}

.dark-mode .profile-container {
    background-color: var(--background-dark_grey);
    border-left: 1px solid var(--deep-grey);
}

.profile-header {
    align-items: center;
    display: flex;
    margin-left: 18px;
    margin-right: 18px;
}

.dark-mode .profile-header {
    background-color: var(--background-dark_grey);
}

.profile-header h3 {
    align-items: center;
    background-color: white;
    display: flex;
    font-size: 16px;
    font-weight: 400;
    height: 64px;
    margin-left: 15px;
    margin-right: auto;
}

.dark-mode .profile-header h3 {
    background-color: var(--background-dark_grey);
    color: white;
}

.profile-person {
    align-items: center;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 335px;
}

.dark-mode .profile-person {
    color: white;
    background-color: var(--background-dark_grey);
}

.profile-person span {
    color: #666666;
}

.profile-info {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.profile-info button {
    background-color: white;
    border: 1px solid var(--mid-grey);
    border-radius: 15px;
    height: 68px;
    gap: 5px;
    margin-top: 3px;
    margin-bottom: 100px;
    padding: 0 60px;
    width: 97.3%;
}

.dark-mode .profile-info button {
    background-color: var(--background-dark_grey);
    border: none;
    color: var(--mid-green);
}

.dark-mode .profile-info button span {
    color: white;
}

.profile-description {
    background-color: white;
    font-size: 14px;
    height: 40px;
    margin-left: 19px;
}

.dark-mode .profile-description {
    color: white;
    background-color: var(--background-dark_grey);
}

.profile-description span {
    color: #666666;
    font-weight: 600;
}

.profile-person h2 {
    align-items: center;
    display: flex;
    font-weight: 400;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 10px;
    width: 100%;
}

.btn-buscador {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn-buscador svg {
    color: var(--mid-green);
}

.btn-buscador span {
    color: black;
    font-size: 14.7px;
}

.profile-image {
    background-color: var(--mid-green);
    border-radius: 100px;
    flex-shrink: 0;
    height: 128px;
    margin-bottom: 0;
    margin-left: 12px;
    margin-top: 29px;
    width: 128px;
}

.profile-settings_list {
    background-color: white;
    display: flex;
    font-size: 16px;
    height: 60px;
    margin-top: 10px;
    margin-left: 20px;
    padding-left: 20px;
    padding-right: 35px;
    width: 95%;
}

.dark-mode .profile-settings_list {
    background-color: var(--background-dark_grey);
    color: white;
}

.profile-settings_list svg {
    color: #666666;
    margin-right: 20px;
}

.dark-mode .profile-settings_list svg {
    background-color: var(--background-dark_grey);
}

.profile-settings_list-text {
    width: 313px;
}

.dark-mode .profile-settings_list-text {
    background: var(--background-dark_grey);
    color: white;
}

.profile-settings_list-text span {
    align-items: flex-start;
    color: #666666;
    display: flex;
    font-size: 15px;
    font-weight: 400;
}

.profile-settings_list-number {
    color: #666666;
    font-weight: 400;
}

.profile-settings_list-text h3 {
    font-size: 16px;
    font-weight: 400;
    margin-right: auto;
    padding-bottom: 3px;
}

.btn-notifications {
    border: 3px solid #959393;
    border-radius: 999px;
    cursor: pointer;
    height: 28px;
    position: relative;
    width: 51px;
}

.dark-mode .btn-notifications{
    background: var(--background-dark_grey);
    border: 2px solid #959393;
    cursor: pointer;
}

.btn-notifications::after {
    align-items: center;
    background-color: #959393;
    border-radius: 50%;
    content: '';
    display: flex;
    height: 14px;
    left: 4.5px;
    position: absolute;
    top: 4.5px;
    transform: translateZ(35%);
    width: 14px;
}

.dark-mode .btn-notifications::after {
    top: 5px;
}

.profile-sharing_group {
    border-top: 1px solid #E5E5E5;
    border-bottom: 1px solid #E5E5E5;
    height: 23px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-top: 20px;
    width: 91%;
}

.dark-mode .profile-sharing_group {
    border-top: 1px solid var(--deep-grey);
    border-bottom: 1px solid var(--deep-grey);
}